# 폴더 전체
wandb/
cifar10_png_linear_only/
data/
ddpm_cifar10_rgb/
checkpoints/
logs/
ddpm_cifar10_*/
cifar10_png_*/
cifar10_student_data_*/
out_*/
vae_out_dir/

# 파일 확장자
*.pt
*.pth
*.ckpt
*.npz
*.png
*.jpg
*.safetensors
*.json

# 기타 개발 환경/캐시
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
nohup.out

# 유지
!cifar10_student_data_n100/
!ddpm_cifar10_rgb_T400_DDIM50/
!vae_out_dir/1218_b64_lr0.0001_klW_1e-05/checkpoint-80000/